<%

  # Layout based off
  # https://github.com/AusDTO/gov-au-beta/blob/develop/app/views/devise/unlocks/new.html.haml

  content_for :title, 'Unlock Form'
  content_for :description, 'Performance Dashboard Unlock Form'
%>

<p class="content-listing">
  <h1>Resend unlock instructions</h1>

  <section class="login-form">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>

        <p>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </p>

        <div class="form-footer-actions">
          <%= f.submit "Resend instructions", :role => 'button' %>
        </div>
    <% end %>

    <br />

    <div class="sign-in-footer-links">
      <%= render "devise/shared/links" %>
    </div>

  </section>

</div>
