<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <p><%= f.label field %><br />
    <%= f.text_field field %></p>
  <% end -%>

  <p><%= f.label 'Dashboards' %></p>
    <%= f.select :dashboard_ids, current_user.organisation.dashboards.collect {|d| [ d.name, d.id ]}, {}, { multiple: true } %>
  </p>

  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>
