<%
  content_for :title, 'Performance Dashboard'
  content_for :description, 'Australian Government Performance Dashboards'
%>
<div class="container">

  <section class="row" aria-labelledby="dashboardsoverview">
    <div class="col-md-12">
      <h1 id="dashboardsoverview">Performance Dashboard overview</h1>
    </div>

    <div class="dashboards-intro col-md-8">
      <p>The Performance Dashboard makes data open and accessible by measuring the performance of Australian government services against the Digital Service Standard.</p>
      <p>This promotes government transparency and helps drive the ongoing improvement of government services &mdash; for all Australians.</p>
    </div>

    <div class="dashboards-intro-sec hidden-sm-down col-md-4">
      <div class="media">
        <div class="media-left">
          <span class="number-of-dashboards"><%= dashboards.size %></span>
        </div>
        <div class="media-body media-middle">
          <span>service</br>dashboards</span>
        </div>
      </div>
    </div>
  </section>

  <section class="metrics row">
    <div class="metric-overview col-sm-12 col-md-4">
      <p>There are four key performance indicators that government services are required to publish on the Performance Dashboard.</p>
    </div>
    <div class="metric-definitions col-md-8 col-sm-12">
      <div class="metric-definitions-inner">
        <div class="metric-definitions__metric user-satisfaction col-sm-12 col-md-3">
          <div class="widget__title">
            <h2>User satisfaction</h2>
          </div>
          <p>The overall satisfaction rate with the service.</p>
        </div>
        <div class="metric-definitions__metric cost-per-transaction col-sm-12 col-md-3">
          <div class="widget__title">
          <h2>Cost per transaction</h2>
          </div>
          <p>The estimated cost to government, per transaction, for administering the service.</p>
        </div>
        <div class="metric-definitions__metric digital-take-up col-sm-12 col-md-3">
          <div class="widget__title">
          <h2>Digital take-up</h2>
          </div>
          <p>The adoption rate for the digital service.</p>
        </div>
        <div class="metric-definitions__metric completion-rate col-sm-12 col-md-3">
          <div class="widget__title">
          <h2>Completion rate</h2>
          </div>
          <p>The overall rate of completion for users of the service.</p>
        </div>
      </div>
      <div class="metric-link">
        <a href="https://www.dto.gov.au/standard/11-measure-performance/" rel="external" class="link--external-alt" target="_blank">Learn more about these key metrics</a>
      </div>
    </div>
    <div class="dashboards-intro-sec hidden-md-up col-sm-12">
      <div class="media">
        <div class="media-left">
          <span class="number-of-dashboards"><%= dashboards.size %></span>
        </div>
        <div class="media-body media-middle">
          <span>service</br>dashboards</span>
        </div>
      </div>
    </div>
  </section>


  <section aria-labelledby="servicedashboards">
    <h2 id="servicedashboards" class="dashboards-heading hidden-sm-down">Service dashboards</h2>
    <ul class="list-unstyled clearfix">
      <% dashboards.each do |dashboard| %>
        <li class="card row-deprecated-dont-add-this-anywhere-else">
          <div class="card__left">
            <div>
              <h3 class="card-title">
                <%= dashboard.dashboardized_name %>
              </h3>
              <div class="updated-at hidden-md-up">
                <time>Last updated on <%= dashboard.last_updated_at %></time>
              </div>
            </div>
            <div class="updated-at hidden-sm-down">
              <time>Last updated on <%= dashboard.last_updated_at %></time>
            </div>
            <%= link_to "View dashboard<span class='sr-only'> #{dashboard.name}</span>".html_safe, dashboard_path(dashboard), class: 'card__link__visible' %>
          </div>

          <% if dashboard.display_kpis? %>
              <div class="card__right dashboard__kpis clearfix">

                <% dashboard.widgets.kpis.by_pos.each do |widget| %>
                    <div class="aus-width-one-fourth">
                      <%= render :partial => 'overview_widget', :locals => { :dashboard => dashboard, :widget => widget.decorate } %>
                    </div>
                <% end %>

              </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>

</div>
